@import "tailwindcss";

@theme {
  @keyframes float {
    0% { transform: translateX(0); }
    100% { transform: translateX(120vw); }
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #5c94fc 0%, #5c94fc 50%, #6d6d6d 50%, #6d6d6d 100%);
}

#root {
  width: 100%;
  height: 100%;
}
